
@using ChatDemo.Entities;

@model ICollection<AppUser>

@{
    ViewData["Title"] = "Friends";
}

<div class="container">
    <div class="row g-3 mt-3">
        <div class="col px-0">
            @await Html.PartialAsync("_FriendsNavPartial", new { ActiveIndex = 0 })
        </div>
    </div>
</div>
<hr style="width: 100%; margin-bottom: 0;" />
<div id="friends-container-wrapper" style="overflow-y: auto; height: 100%;">
    <div class="container" style="height: 100%;">
        <div class="row" style="margin-top: auto; height: 100%;">
            <div class="col d-flex px-0 py-3">
                <div id="friends-container" class="d-flex flex-fill flex-column">
                    @if (Model.Count == 0)
                    {
                        <div class="text-center">
                            <p>You have no friends :C</p>
                        </div>
                    }
                    else
                    {
                        @foreach (var friend in Model)
                        {
                            <form asp-action="RemoveFriend" method="post" onsubmit="onFriendAction(event)">
                                <div class="row my-2">
                                    <input type="hidden" name="userId" value="@friend.Id" />
                                    <label class="col col-form-label">
                                        <b>@friend.UserName</b>
                                    </label>
                                    <div id="user-single-result" class="col-auto">
                                        <button type="submit" class="btn btn-danger">Remove</button>
                                    </div>
                                </div>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
