
@using System.Security.Claims

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        string signInUserName = User.FindFirst(ClaimTypes.Name).Value;
        <h1 class="display-4">Welcome <b>@signInUserName</b>!</h1>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }
</div>
